*{
  /* outline: dashed #ffbdbd 1px; */
  text-align: center;
  margin: 0;
  padding: 0;
}
.images{
  display: flex;
  align-items: flex-start;
  transition: all 0.5s;
}

.images > img{
   vertical-align: top;
 }

.window{
  width: 400px;
  height: 300px;
  margin: 60px 0 0;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  cursor:default
}

.red{
  color: #d0031c !important;
}

#buttons {
  /* cursor: default; */
  cursor:pointer
}

#buttons > span {
  border: 1px solid #ececec;
  padding: 12px 25px;
  margin: 3px;
  line-height: 70px;
  box-shadow: 0 3px 10px 1px #00000008;
  border-radius: 4px;
  color: #a0a0a0;
}
























/*  */
