
*{margin: 0; padding: 0;}
*{box-sizing: border-box;}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}
ul,ol{list-style: none;}
a{color: inherit; text-decoration: none;}
input{font: inherit}

body{
  font-size: 12px;
  line-height: 1.5;
}

/* layout */

.page{
  display: flex;
  height: 100vh;
}
.page > aside {
  width: 200px;
  border: 1px solid #ddd;
}
.page > main {
  flex-grow: 1;
  /* border: 1px solid #ddd; */
}

/* aside */
.page > aside{
  display: flex;
  flex-direction: column;
}

.page > aside > .newSong.active{
  background: #d4d4d4;
}
.page > aside > .newSong{
  padding: 10px;
  text-align: center;
}


#songList-container{
  flex-grow: 1;
}
.page > aside >  #songList-container > .songList{
  text-align: center;
  border-top: 1px solid #999;
}

.page > aside > #songList-container > .songList > li.active{
  background: #d4d4d4;
}
.page > aside > #songList-container > .songList > li{
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}



.draggable{
  padding: 50px 0px;
  border-radius: 5px;
  border: 1px dashed #c7c7c7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.clickable{
  border-color: darkgray;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  padding: 6px 7px 6px;
}



/* main */

.page > main {
  background: #fdfdfd;
    padding-left: 20px;
    padding-top: 20px;
}
.form{
  /* border: 1px solid #ddd; */
}
.form > .row{
  margin: 15px 0;
  display: flex;
}
.form > .row > label{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 3em;
  margin-right: 5px;
}
.form > .row.actions{
  margin-left: 42px;
}
.form input[type=text]{
  padding:  18px 5px;
  border-radius: 2px;
  border: 1px solid #ddd;
  height: 30px;
  width: 500px;
}
.form button{
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.page > main {

}
.page > main > .form{

}
