* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Apercu,'PingFang SC','Microsoft YaHei',Arial,SimHei,sans-serif;
  /* color: #444; */
  /* font-size: 2rem; */
}
a,li {list-style: none;}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
body {
  margin-bottom: 50px;
}
.topNavBar {
  /* box-shadow: 0px 2px 20px 2px #dddddd47; */
  background-color: rgb(255, 255, 255);
  padding: 6px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: all 1s;
}
.topNavBarActive {
  box-shadow: 0px 2px 20px 2px #dddddd47;
}
.topNavBar > nav {
  float: right;
  margin-right: 30px;
}
.topNavBar > nav > ul > li {
  float: left;
  margin: 5px;
  padding: 5px;
  /* outline: 1px solid #dddddd74; */
}
.topNavBar > nav > ul > li > a{
  text-decoration: none;
  color: #444;
  font-weight: bold;
}
[data-x].offset {
  transform: translateX(-50px);
}
[data-x] {
  transform: translateX(0);
  transition: all 2s;
}
.topNavBar > nav > ul > li:hover{
  outline: 5px solid #ddd;
  /* border-bottom: 5px solid #ddd; */
}
.topNavBar > nav > ul > .active{
  outline: 5px solid #ddd;
  /* border-bottom: 5px solid #ddd; */
}
.logo {
  height: 30px;
  float: left;
  margin: 6px 0 0 23px;
}
.logo > img {
  height: 30px;
}
.line {
  border-bottom: 14px solid #9292922b;
  border-radius: 50px;
  height: 88px;
  margin-top: -80px;
  box-shadow: 0px 33px 20px -15px #0000000a;
}

.me {
  /* text-align: center; */
  margin: 10% 10% 5%;
}
.autowidth {
  max-width: 80%;
  font-size: 32px;
  color: #444;
  font-weight: bold;
  font-family: Apercu,'PingFang SC','Microsoft YaHei',Arial,SimHei,sans-serif;
}

.desc{
  font-size: 16px;
  font-weight: 200;
  color: #ccc;
}

.item {
  padding: 15px;
}
.inner-item {
  border-radius: 10px;
  height: 400px;
  overflow: hidden;
  position: relative;
  background: #ece9e9;
}
.inner-item-yellow {
  background: #ffe324;
}
.inner-item-black {
  background: #1f1f1f;
}
.s-pre-img {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
}
.item-main {
  padding-top: 170px;
  max-width: 80%;
  margin: 0 auto;
}
.item-text {
  font-size: 26px;
}
.item-desc {
  color: #9e9d99;
  font-size: .8rem;
  text-align: left;
  padding: 0;
  width: 75%;
  /* margin: 3em 0 0; */
  /* line-height: 1.35; */
  position: relative;
  font-weight: 400;
  text-decoration: none;
}
.item-btn {
  text-decoration: none;
  color: #9e9d99;
}

.skills {
  /* max-width: 80%; */
  margin: 0 10% 0;
  width: 80%;
  padding-top: 20px;
  font-size: 18px;
  color: #444;
}
.skills > ul{
  /* width: 100%; */
}
.skills > ul > li{
  /* outline: 1px solid rgba(237, 237, 237, 0.324); */
  float: left;
  width: 45%;
  padding: 8px 0px 15px;
}
.skills > ul > li:nth-child(even){
  float: right;
  /* margin-left: 10%; */
}
.skills > ul > li > p{
  padding-bottom: 5px;
}
.progressBar {
  height: 5px;
  border-radius: 5px;
  background-color: rgba(204, 204, 204, 0.468);
}
.progress {
  height: 5px;
  width: 80%;
  border-radius: 5px;
  background-color: rgba(204, 204, 204, 0.817);
}


.portfolio {
  width: 80%;
  margin: 50px 10% 30px;
}
.portfolio > h2 {
  color: #444;
  font-size: 28px;
  margin-bottom: 4px;
}
.portfolio > nav {
  display: inline-block;
  /* outline: 1px solid #444; */
}
.portfolio > nav > ol {
  display: inline-block;
  /* margin: 0 2px 0 0; */
}
.portfolio > nav > ol > li {
  float: left;
  color: rgba(68, 68, 68, 0.728);
  font-weight: 800;
  margin-right: 30px;
  cursor: pointer;
}
.portfolio > nav > ol > li:nth-last-child(1) {
  margin-right: 0;
}

.portfolio > nav > .bar {
  height: 5px;
  border-radius: 5px;
  background-color: rgba(68, 68, 68, 0.091);
}
.bar-inner {
  height: 100%;
  border-radius: 5px;
  width: 21%;
  background-color: #444;
  transition: all 0.3s;
}
.portfolio > nav > .bar.state-2 .bar-inner {
  width: 34px;
  margin-left: 58px;
}
.portfolio > nav > .bar.state-3 .bar-inner {
  width: 20px;
  margin-left: 121px;
}
