*{margin:0;padding:0;}
*{box-sizing: border-box;}

.window{
  width: 400px;
  height: 300px;
  margin: 20px auto;
  overflow: hidden;
}

.images{
  display: flex;
  transition: all 0.5s;
}

.images > img{
  width: 100%;
}

#buttonWrapper, #controls  {
  text-align:center;
  margin: 15px 0;
}

#controls > button{
  text-align:center;
  padding: 6px 10px;
  border: 1px solid #eaeaea;
}

#buttonWrapper > button{
  text-align:center;
  padding: 6px 10px;
  border: 1px solid #eaeaea;
}
