* {
  /* outline: 1px solid #ffe8e8; */
  margin: 0; padding: 0;
}
ul,ol {
  list-style: none;
}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

#xxx{
  background: white;
  display: block;
  //height:100vh;
  position: fixed;
  top: 0;
  left: 0;
}
body{
  margin: 0px;
  /* border: 1px solid red; */
  top: 0;
  left: 0;
}

html{
  /* border:1px solid black; */
}

button{
  position: fixed;
  bottom: 0;
  left: 0;
}
.actions {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0 0 15px;
}
.actions svg{
  width: 4em;
  height: 2em;
}
.eraser, .brush{
  /* height: 30px; */
  /* width: 30px;
  height: 30px; */
}
.actions svg.active{
  /* box-shadow: 0 0 0px 3px #414551; */
  transform: scale(1.15);
  transition: all 0.3s;
}

.actions > #brush{
  display: inline-block;
  /* transform: scale(1.15); */
}

.colors {
  position: fixed;
  top: 60px;
  left: 10px;
  /* border: 1px solid red; */
  padding: 0px;
}
.colors > li {
  width:  20px;
  height: 20px;
  margin: 15px 0;
  border-radius: 50%;
  transition: all 0.8s;
  /* box-shadow: 0 0 3px rgba(0,0,0,0.45) */
  /* border:3px solid #ffce01; */
}
.colors > li.black {
  background: black;
}
.colors > li.red {
  background: red;
}
.colors > li.green {
  background: green;
}
.colors > li.blue {
  background: blue;
}
.colors > li.active {
  border:3px solid #ffce01;
  /* transform: scale(1.2); */
  transform: all 0.3s;
  /* outline: 3px solid #ffce01; */
  /* box-shadow: 0 0 12px rgba(0, 0, 0, 0.5) */
}

.sizes {
  position: fixed;
  right: 10px;
  top: 45px;
}

.sizes > li {
  margin: 20px 0;
  /* border-radius: 50%; */
}

.sizes > .thin{
  height: 0;
  width: 20px;
  border-top: 3px solid black;
}

.sizes > .thick{
  height: 0;
  width: 30px;
  border-top: 10px solid black;
}














/* .actions.x > #brush{
  display: inline-block;
}

.actions.x > #eraser{

} */
